<div class="row">
	<div class="col-md-4 col-md-offset-4">

		<form ng-submit="login()">
		<fieldset>

<!-- Form Name -->
<legend><b>Login</b></legend>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required ng-model="user.password">
  </div>
  
  <button type="submit" class="btn btn-default">Log in </button>
    <button  class="btn btn-default" ui-sref="register">Register now  </button>
  
   

  </fieldset>
</form><br><br>

<button class="btn btn-primary" ng-click="login_fb()"><i class="fa fa-facebook" ></i>  | Connect with Facebook</button><br>

<h1 ng-if="error">{{error}}</h1>
	</div>
</div>
